<!DOCTYPE html>
<html ng-app="scotchApp">
<head>

    <title>{% block title %}Test Application{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    {# ... #}
    {% block stylesheets %}
        {% stylesheets '@AcmeWebsiteBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {# ... #}
</head>

<body ng-controller="mainController">
{# nav bar #}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Angular Routing Example</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
            <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
        </ul>
    </div>
</nav>
{#....#}

{# body extend #}
{% block body %}

{% endblock %}
{#....#}

<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% javascripts
'@AcmeCoreBundle/Resources/public/angularjs/angular.js'
'@AcmeCoreBundle/Resources/public/angularjs/angular-route.js'
'@AcmeCoreBundle/Resources/public/angularjs/angular-mocks.js'
'@AcmeWebsiteBundle/Resources/public/js/app.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
</body>
</html>



